@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./prose.css);

.prose h1 {
  @apply text-3xl font-bold;
  line-height: 1.3333333;
}

.prose h2 {
  @apply text-2xl mb-[1em] font-bold;
  line-height: 1.3333333;
}

.prose h3 {
  @apply text-xl mb-[1em] font-bold;
  line-height: 1.3333333;
}

.prose p {
  @apply text-base leading-9 mx-5 text-neutral-700;
}

.prose a {
	@apply text-neutral-900;
	overflow-wrap: break-word;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
  text-decoration-color: #8a8a8a;
	text-underline-offset: 2px;
}

.prose a:has(strong) {
  @apply decoration-yellow-300 decoration-wavy;
}

.prose a:has(strong):hover {
  @apply decoration-[#cf2b2b];
}

.prose a:hover {
	@apply decoration-[#b5b5b5];
}

.prose pre {
  @apply rounded-xl shadow-lg py-5;
}

.prose pre > code {
  @apply bg-[#24292e] text-[15px] font-medium font-mono leading-6;
}

.prose code {
  @apply rounded-lg py-0.5 px-2 bg-neutral-200 font-semibold text-sm;
}
.prose ul > ul {
  @apply m-0;
}

.prose strong{
  @apply font-black underline decoration-wavy underline-offset-1 decoration-yellow-300;
}

.prose hr {
  @apply border-[0.75px] w-full border-neutral-300 transition-all dark:border-neutral-700 mt-4;
}

.prose .anchor {
  @apply absolute -ml-10 mt-1 flex h-6 w-6 items-center justify-center opacity-0 transition-all;
  @apply rounded-md border-none no-underline ring-1 ring-neutral-700/10;
  @apply hover:shadow hover:ring-neutral-700/30 dark:bg-neutral-700 dark:text-neutral-400;
}

.prose .anchor:after {
  content: ' ';
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' aria-hidden='true'%3E%3Cpath d='M3.75 1v10M8.25 1v10M1 3.75h10M1 8.25h10' stroke='currentColor' strokeWidth='1.5' strokeLinecap='round' /%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center;
  @apply h-4 w-4 bg-neutral-700 dark:bg-neutral-400;
}

.prose .anchor:hover,
.prose *:hover > .anchor {
  @apply md:opacity-100;
}

.anchor:hover,
.prose *:hover > .anchor {
  @apply visible border-2 border-slate-400;  
}

.prose code {
  @apply font-mono;
}

.prose code:not(:where(pre *)) {
  @apply text-basicFont rounded-lg px-2 py-0.5 content-none;
  @apply bg-neutral-200 dark:bg-[var(--prism-background)];
}

.prose pre::-webkit-scrollbar {
  display: none;
}
.prose pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.prose img {
  @apply my-0 mx-auto;
}
.prose img + span {
  display: block;
  margin-top: 0.5rem;
}

.prose .task-list-item {
  @apply h-10;
}

.toc a[data-level="1"] {
  @apply font-bold;
}

.toc a[data-level="2"] {
  @apply font-medium;
}

.toc a[data-level="3"]::before{
  content: '○ ';
}

.toc-li:hover{
  filter: drop-shadow(0px 0px 7px rgba(234,179,8,.7));
}

